body,
.container {
    text-align: center;
    background-color: #f8f8f8;
    font-family: 'Open Sans Light', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    overflow-x: hidden;
}

.border {
    width: 20%;
}

.center {
    width: 60%;
}

h1 {
    font-weight: 100;
}

a {
    text-decoration: none;
    color: black;
}

.hover {
    transition: all 0.3s ease;
}

.hover:hover {
    opacity: 0.5;
}

.logo {
    color: black;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.space {
    padding-top: 60px;
}

.subtitle {
    font-size: 20px;
    font-family: 'Open Sans Light', sans-serif;
}

img {
    width: 100%;
    margin: 0 auto;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.main {
    width: 150%;
    position: relative;
    left: -25%;
    -moz-box-shadow: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}

p {
    text-align: left;
    font-family: 'Theinhardt-light', 'Roboto', sans-serif;
    line-height: 36px;
    font-size: 18px;
}

.small {
    font-size: 13px;
}

.blue-link {
    color: #0167CB;
    transition: all 0.3s ease;
}

.blue-link:hover {
    opacity: 0.5;
}

.long-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-top: 1px solid #C9C9C9;
    border-bottom: 1px solid #C9C9C9;
    transition: all 0.3s ease;
    text-align: left;
}

.long-button:hover {
    opacity: 0.5;
}

.fa {
    font-size: 30px;
}

i {
    margin: 0 20px;
}

.line {
    border-top: 1px solid #C9C9C9;
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

th {
    float: left;
    width: 30%;
}

th,
td {
    line-height: 36px;
    font-size: 18px;
    vertical-align: top;
    font-family: 'Open Sans Light', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
}

@media only screen and (max-width: 768px) {
    th {
        font-size: 14px;
    }
    .subtitle {
        font-size: 18px;
    }
    .logo {
        font-size: 50px;
    }
    th {
        float: left;
        width: 100%;
    }
    .border {
        width: 5%;
    }
    .center {
        width: 90%;
    }
}