$black: #333;
$white: #fff;
$grey: rgba(191, 191, 191, 1);

$red: #fe4858;
$blue: #1196f4;
$green: #0ae276;

$realblack: #000;
$darkgrey: rgba(201, 201, 201, 0.5);

$theinhardtlight: 'theinhardtlight', 'Open Sans', 'Roboto', sans-serif;
$theinhardtregular: 'theinhardtregular', 'Open Sans', 'Roboto', sans-serif;
$opensans: 'Open Sans', 'theinhardtregular', 'Roboto', sans-serif;
$roboto: 'Roboto', 'Open Sans', 'theinhardtregular', sans-serif;